button {
  border-radius: 8px;
  padding: 6px 14px;
  font-weight: 500;
  font-size: 15px;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Botón de Login */
.btn-login {
    background-color: #6dbf4b;
  color: #ffffff;
}

.btn-login:hover {
   background-color: #3e7d3c;
}

/* Botón de Registro */
.btn-registro {
  background-color: #5c8ead; /* azul agua */
  color: #ffffff;
}

.btn-registro:hover {
  background-color: #4a7a92;
}

/* Íconos dentro del botón */
button i {
  margin-right: 6px;
}
