/* #mapa-id {
  height: 500px;
  width: 100%;
  border-radius: 10px;
}
#mapa-id {
  height: 500px;
  width: 100%;
  border-radius: 10px;
} */

.map-container {
  width: 100%;
  height: calc(100vh - 100px); /* ajusta altura si quieres */
  display: flex;
}

.map-frame {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
}

