.seccion-header {
  display: grid;
  grid-template-columns: 1fr auto 1fr; /* 3 columnas simétricas */
  align-items: center;
  padding-bottom: 20px !important;
}

/* La columna central */
.textos {
  grid-column: 2; /* SIEMPRE en el centro */
  text-align: center;
}

.boton {
  grid-column: 3; /* Botón a la derecha */
  display: flex;
  justify-content: end;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .seccion-header {
    grid-template-columns: 1fr; 
    text-align: center;
    gap: 10px;
  }

  .textos {
    grid-column: 1;
    width: 100%;
  }

  .boton {
    grid-column: 1;
    justify-content: center;
  }
}
