
<div class="d-flex">

  <app-barra-lateral
  [menu]="menu"
  [vistaActual]="vistaActual"
  [nombreUsuario]="nombreUsuario"
  (vistaChange)="cambiarVista($event)"
  (logout)="logout()">
</app-barra-lateral>


  <!-- CONTENIDO PRINCIPAL -->
  <main class="dashboard administrador flex-fill p-4">

    <!-- PANEL DE CONTROL (por defecto activo) -->
    <ng-container *ngIf="vistaActual === 'panel'">
      <h3 class="fw-bold text-center verde-principal mb-4">Panel de Control</h3>
      <div class="row g-4">
        <div class="col-md-10">
          <div class="card text-center shadow-sm">
            <div class="card-body">
              <i class="bi bi-people fs-1 text-success">Usuarios</i>
              <h5 class="mt-2">Usuarios por localidad</h5>
              <app-grafico-usuarios-localidad></app-grafico-usuarios-localidad>
              <h5 class="mt-2">Usuarios por barrio</h5>
              <app-grafica-usuarios-barrios></app-grafica-usuarios-barrios>
            </div>
          </div>
        </div>
       
      </div>
    </ng-container>

    <!-- USUARIOS -->
    <ng-container *ngIf="vistaActual === 'usuarios'">
    <app-usuario-tabla/>
      <!-- SIN RESULTADOS -->
      <div *ngIf="!cargando && usuarios.length === 0"
           class="alert alert-warning text-center shadow-sm  py-2 mt-3">
        No se encontraron usuarios registrados.
      </div>
    </ng-container>

    <!-- SOLICITUDES -->
    <ng-container *ngIf="vistaActual === 'solicitudes'">
      <h3 class="fw-bold text-center verde-principal mb-4">Solicitudes de Recolección</h3>
      <app-solcitudes/>

    </ng-container>

    <!-- RECOLECCIONES -->
    <ng-container *ngIf="vistaActual === 'recolecciones'">
      <h3 class="fw-bold text-center verde-principal mb-4">Recolecciones</h3>
      <p class="text-center">Vista para gestionar campañas y recolecciones.</p>
      <app-listar-tabla></app-listar-tabla>
    </ng-container>

    <!-- PUNTOS DE RECICLAJE -->
    <ng-container *ngIf="vistaActual === 'puntos'">
      <h3 class="fw-bold text-center verde-principal mb-4">Puntos de Reciclaje</h3>
      <p class="text-center">Mapa e información de los puntos de reciclaje.</p>
    </ng-container>

    <!-- PUNTOS DE CAPACITACIONES -->
    <ng-container *ngIf="vistaActual === 'capacitaciones'">
      <h3 class="fw-bold text-center verde-principal mb-4">Capacitaciones</h3>
      <app-carga-masiva-capacitacion></app-carga-masiva-capacitacion>
      
      <app-listar-capacitaciones> </app-listar-capacitaciones>
    </ng-container>

    <!-- NOTICIAS -->
    <ng-container *ngIf="vistaActual === 'noticias'">
      <h3 class="fw-bold text-center verde-principal mb-4">Noticias</h3>
      <p class="text-center">Últimas noticias y novedades relacionadas con el reciclaje.</p>
    </ng-container>

  </main>
</div>
