<app-header></app-header>


<main class="dashboard administrador">
  <section class="bienvenida">
    <h2>Panel Administrador</h2>
    <p>Controla el sistema, gestiona usuarios y campañas ambientales.</p>
  </section>

  <section class="acciones">
    <div class="carta">
      <i class="fas fa-user-cog"></i>
      <h4>Gestión de Usuarios</h4>
      <p>Administra roles y accesos.</p>
    </div>
    <div class="carta">
      <i class="fas fa-chart-pie"></i>
      <h4>Estadísticas Globales</h4>
      <p>Monitorea el impacto ambiental general.</p>
    </div>
    <div class="carta">
      <i class="fas fa-bullhorn"></i>
      <h4>Campañas</h4>
      <p>Organiza eventos y jornadas ecológicas.</p>
    </div>
  </section>
</main>

<div class="container mt-4">
  <h2 class="mb-3 text-center">Lista de Usuarios</h2>

  <!-- FILTRO -->
<app-form-comp
  mode="filtro"
  (formSubmit)="aplicarFiltroDesdeForm($event)"
  (filterClear)="limpiarFiltro()">
</app-form-comp>

 

  <!--  CARGANDO -->
  <div *ngIf="cargando" class="alert alert-info text-center">
    Cargando usuarios...
  </div>

  <!--  MENSAJES -->
  <div *ngIf="mensaje" class="alert alert-success">{{ mensaje }}</div>
  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>


<!--  TABLA -->

<div class="table-responsive" *ngIf="usuarios.length > 0">
  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Rol</th>
        <th>Documento</th>
        <th>telefono</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario.idUsuario }}</td>
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.correo }}</td>
        <td>{{ usuario.rol }}</td> <!-- ✅ aquí usamos el rol mapeado -->
        <td>{{  usuario.nit || usuario.cedula }}</td>
        <td>{{  usuario.telefono }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- 📭 SIN RESULTADOS -->
  <div *ngIf="!cargando && usuarios.length === 0" class="alert alert-warning text-center">
    No se encontraron usuarios.
  </div>

  <app-solcitudes/>
</div>




