.chart-container {
  background: transparent;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  height: 100%;
  width: 100%;
  min-height: 300px;
}

:host {
  display: block;
  width: 100%;
  height: 100%;
}