<div class="d-flex">

  <!-- SIDEBAR LATERAL -->
   <app-barra-lateral
  [menu]="menu"
  [vistaActual]="vistaActual"
  [nombreUsuario]="nombreUsuario"
  (vistaChange)="cambiarVista($event)"
  (logout)="cerrarSesion()">
</app-barra-lateral>


  <!-- CONTENIDO PRINCIPAL -->
  <main class="dashboard administrador flex-fill p-4">

    <!-- PANEL DE CONTROL (por defecto activo) -->
    <ng-container *ngIf="vistaActual === 'panel'">
      <h3 class="fw-bold text-center verde-principal mb-4">Panel de Control</h3>
      <div class="row g-4">
        <div class="col-md-4">
          <div class="card text-center shadow-sm">
            <div class="card-body">
              <i class="bi bi-people fs-1 text-warning"></i>
              <h5 class="mt-2">Usuarios activos</h5>
              <p class="fs-4 fw-bold">128</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center shadow-sm">
            <div class="card-body">
              <i class="bi bi-recycle fs-1 text-warning"></i>
              <h5 class="mt-2">Kg reciclados</h5>
              <p class="fs-4 fw-bold">1.245</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center shadow-sm">
            <div class="card-body">
              <i class="bi bi-graph-up-arrow fs-1 text-warning"></i>
              <h5 class="mt-2">Campañas activas</h5>
              <p class="fs-4 fw-bold">6</p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    

    <!-- SOLICITUDES -->
    <ng-container *ngIf="vistaActual === 'solicitudes'">
      <h3 class="fw-bold text-center verde-principal mb-4">Solicitudes</h3>
      <p class="text-center">Solicitudes pendientes.</p>
      <app-card-a-r-solicitud/>
    </ng-container>

    <!-- RECOLECCIONES -->
    <ng-container *ngIf="vistaActual === 'recolecciones'">
      <h3 class="fw-bold text-center verde-principal mb-4">Campañas y Recolecciones</h3>
      <p class="text-center">Vista para gestionar campañas y recolecciones.</p>
      <app-cards-recoleccion></app-cards-recoleccion>
    </ng-container>

    <!-- PUNTOS DE RECICLAJE -->
    <ng-container *ngIf="vistaActual === 'puntos'">
      <h3 class="fw-bold text-center verde-principal mb-4">Puntos de Reciclaje</h3>
      <p class="text-center">Mapa e información de los puntos de reciclaje.</p>
    </ng-container>

    <!-- NOTICIAS -->
    <ng-container *ngIf="vistaActual === 'noticias'">
      <h3 class="fw-bold text-center verde-principal mb-4">Noticias</h3>
      <p class="text-center">Últimas noticias y novedades relacionadas con el reciclaje.</p>
    </ng-container>

  </main>
</div>
