<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div *ngFor="let field of fields">
    
    <!-- Input normal -->
    <ng-container *ngIf="field.type === 'text' || field.type === 'email'">
      <label>{{ field.label }}</label>
      <input [type]="field.type" [formControlName]="field.name">
    </ng-container>
    
    <!-- Select -->
    <ng-container *ngIf="field.type === 'select'">
      <label>{{ field.label }}</label>
      <select [formControlName]="field.name">
        <option *ngFor="let option of field.options" [value]="option">{{ option }}</option>
      </select>
    </ng-container>
    
    <!-- Radio -->
    <ng-container *ngIf="field.type === 'radio'">
      <label>{{ field.label }}</label>
      <div *ngFor="let option of field.options">
        <input type="radio" [formControlName]="field.name" [value]="option"> {{ option }}
      </div>
    </ng-container>

    <!-- Textarea -->
    <ng-container *ngIf="field.type === 'textarea'">
      <label>{{ field.label }}</label>
      <textarea [formControlName]="field.name"></textarea>
    </ng-container>

  </div>

  <app-boton class="Enviar" click="onSubmit()" label="Enviar"></app-boton>
</form>
