<div class="panel-control">
  <app-barra-lateral
    [items]="menuAdministrador"
    [selected]="vistaActual"
    (selectedChange)="cambiarVista($event)">
  </app-barra-lateral>

  <div class="contenido">
    <app-vista-usuarios *ngIf="vistaActual === 'usuarios'"></app-vista-usuarios>
    <app-vista-solicitudes *ngIf="vistaActual === 'solicitudes'"></app-vista-solicitudes>
    <app-vista-solicitudes *ngIf="vistaActual === 'recolecciones'"></app-vista-solicitudes>
    <app-vista-solicitudes *ngIf="vistaActual === 'puntos-de-reciclaje
'"></app-vista-solicitudes>
    <app-vista-solicitudes *ngIf="vistaActual === 'capacitaciones'"></app-vista-solicitudes>
    <app-vista-solicitudes *ngIf="vistaActual === 'noticias'"></app-vista-solicitudes>
    


  </div>
</div>
