.chart-container {
  background: transparent;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  height: 100%;
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
}

.chart-wrapper {
  flex: 1;
  min-height: 300px;
  width: 100%;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  font-size: 16px;
  color: #666;
}

:host {
  display: block;
  width: 100%;
  height: 100%;
}