<div class="row" *ngIf="recolecciones.length > 0; else sinRecolecciones">
  <div class="col-md-4 mb-3" *ngFor="let reco of recolecciones">
    <div class="card shadow-sm">
      <div class="card-body">
        <h6 class="card-title">
          <strong>Estado:</strong> {{ reco.estado }}
        </h6>


        <p *ngIf="reco.evidencia">
          <strong>Evidencia:</strong> {{ reco.evidencia }}
        </p>

        <p>
          <strong>Fecha de Recoleccion:</strong>
          {{ reco.fechaRecoleccion| date:'dd/MM/yyyy HH:mm:ss' }}
        </p>
      </div>

      <p>
          <strong>Observaciones</strong> {{ reco.observaciones}}
        </p>

      <!-- ✅ Mostrar botones solo si la recolección está pendiente -->
      <div class="card-footer d-flex justify-content-between"
           *ngIf="mostrarBotones(reco.estado)">
        <button class="btn btn-success btn-sm" (click)="aceptarRecoleccion(reco.idRecoleccion)">
          Completar
        </button>

        <button class="btn btn-danger btn-sm" (click)="cancelarRecoleccion(reco.idRecoleccion)">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #sinRecolecciones>
  <p class="text-center mt-3">No tienes recolecciones asignadas.</p>
</ng-template>
